.venv/
__pycache__/
*.py[cod]
*.pyo
*.db
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

build/
dist/
node_modules/
dist/
*.egg-info/
res/
test/
user_data/

.env

.DS_Store
.vscode/
.github/
.claude/

uv.lock
CLAUDE.md
TODO